@import "tailwindcss";
@import "@heroui/styles";
@plugin "@tailwindcss/typography";

@theme {
	--accent: var(--color-indigo-500);
}

/* where are the div come from */
.tiptap,
div:has(> .tiptap) {
	height: 100%;
}

.tiptap .is-editor-empty:first-child::before {
	color: #0003;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

.tiptap:focus-visible {
	outline: none;
}

.link.active[aria-current="page"] {
	@apply text-accent;
}

@utility prose {
	blockquote {
		p {
			&:first-of-type::before,
			&:last-of-type::after {
				content: none;
			}
		}
	}
}
