@import "tailwindcss";
@import "@heroui/styles";
@plugin "@tailwindcss/typography";

@theme {
	--accent: var(--color-indigo-500);
}

/* where are the div come from */
.tiptap,
div:has(> .tiptap) {
	height: 100%;
}

.tiptap .is-editor-empty:first-child::before {
	color: #0003;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

.tiptap:focus-visible {
	outline: none;
}

.link.active[aria-current="page"] {
	@apply text-accent;
}

@utility prose {
	blockquote {
		p {
			&:first-of-type::before,
			&:last-of-type::after {
				content: none;
			}
		}
	}
}

@utility prose-mauve {
	--tw-prose-body: var(--color-mauve-800);
	--tw-prose-headings: var(--color-mauve-900);
	--tw-prose-lead: var(--color-mauve-700);
	--tw-prose-links: var(--color-mauve-900);
	--tw-prose-bold: var(--color-mauve-900);
	--tw-prose-counters: var(--color-mauve-600);
	--tw-prose-bullets: var(--color-mauve-400);
	--tw-prose-hr: var(--color-mauve-300);
	--tw-prose-quotes: var(--color-mauve-900);
	--tw-prose-quote-borders: var(--color-mauve-300);
	--tw-prose-captions: var(--color-mauve-700);
	--tw-prose-code: var(--color-mauve-900);
	--tw-prose-pre-code: var(--color-mauve-100);
	--tw-prose-pre-bg: var(--color-mauve-900);
	--tw-prose-th-borders: var(--color-mauve-300);
	--tw-prose-td-borders: var(--color-mauve-200);
	--tw-prose-invert-body: var(--color-mauve-200);
	--tw-prose-invert-headings: var(--color-white);
	--tw-prose-invert-lead: var(--color-mauve-300);
	--tw-prose-invert-links: var(--color-white);
	--tw-prose-invert-bold: var(--color-white);
	--tw-prose-invert-counters: var(--color-mauve-400);
	--tw-prose-invert-bullets: var(--color-mauve-600);
	--tw-prose-invert-hr: var(--color-mauve-700);
	--tw-prose-invert-quotes: var(--color-mauve-100);
	--tw-prose-invert-quote-borders: var(--color-mauve-700);
	--tw-prose-invert-captions: var(--color-mauve-400);
	--tw-prose-invert-code: var(--color-white);
	--tw-prose-invert-pre-code: var(--color-mauve-300);
	--tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
	--tw-prose-invert-th-borders: var(--color-mauve-600);
	--tw-prose-invert-td-borders: var(--color-mauve-700);
}
