:root {
    --carbon-0: #1b1b18;
    --carbon-1: #3a3833;
    --carbon-2: #58564e;
    --carbon-3: #777468;
    --carbon-4: #949185;
    --carbon-5: #bbb9b1;
    --carbon-6: #cccbc5;
    --carbon-7: #dddcd8;
    --carbon-8: #edecea;
    --steel-0: #171a1c;
    --steel-1: #31393c;
    --steel-2: #4c575d;
    --steel-3: #66767d;
    --steel-4: #84939a;
    --steel-5: #b1babf;
    --steel-6: #c4cbcf;
    --steel-7: #d7dcde;
    --steel-8: #eaecee;
    --scarlet-0: #33000b;
    --scarlet-1: #620016;
    --scarlet-2: #910020;
    --scarlet-3: #bf002b;
    --scarlet-4: #ee0035;
    --scarlet-5: #ff5278;
    --scarlet-6: #ff809d;
    --scarlet-7: #ffadbf;
    --scarlet-8: #ffd8e1;
    --amber-0: #331d00;
    --amber-1: #653a00;
    --amber-2: #975700;
    --amber-3: #c97400;
    --amber-4: #fb9100;
    --amber-5: #ffb95a;
    --amber-6: #ffcc86;
    --amber-7: #ffddb0;
    --amber-8: #ffefd8;
    --lemon-0: #332900;
    --lemon-1: #624f00;
    --lemon-2: #927500;
    --lemon-3: #c19b00;
    --lemon-4: #f0c100;
    --lemon-5: #ffdd53;
    --lemon-6: #ffe681;
    --lemon-7: #ffefad;
    --lemon-8: #fff7d8;
    --lime-0: #2b3300;
    --lime-1: #505f00;
    --lime-2: #748b00;
    --lime-3: #99b700;
    --lime-4: #bee300;
    --lime-5: #e2ff4b;
    --lime-6: #eaff7c;
    --lime-7: #f1ffab;
    --lime-8: #f9ffd8;
    --apple-0: #073300;
    --apple-1: #0e6000;
    --apple-2: #148d00;
    --apple-3: #1bb900;
    --apple-4: #21e600;
    --apple-5: #66ff4d;
    --apple-6: #90ff7d;
    --apple-7: #b7ffab;
    --apple-8: #deffd8;
    --aqua-0: #00332d;
    --aqua-1: #005e52;
    --aqua-2: #008978;
    --aqua-3: #00b49d;
    --aqua-4: #00dfc3;
    --aqua-5: #48ffe8;
    --aqua-6: #7affee;
    --aqua-7: #aafff4;
    --aqua-8: #d8fffa;
    --ocean-0: #002e33;
    --ocean-1: #00555f;
    --ocean-2: #007c8b;
    --ocean-3: #00a4b6;
    --ocean-4: #00cbe2;
    --ocean-5: #4aedff;
    --ocean-6: #7bf2ff;
    --ocean-7: #abf6ff;
    --ocean-8: #d8fbff;
    --sky-0: #001e33;
    --sky-1: #003b65;
    --sky-2: #005998;
    --sky-3: #0076ca;
    --sky-4: #0094fc;
    --sky-5: #5bbbff;
    --sky-6: #86cdff;
    --sky-7: #b0deff;
    --sky-8: #d8efff;
    --ink-0: #190033;
    --ink-1: #2b0056;
    --ink-2: #3c007a;
    --ink-3: #4e009d;
    --ink-4: #5f00c0;
    --ink-5: #9834ff;
    --ink-6: #b56dff;
    --ink-7: #d1a4ff;
    --ink-8: #ebd8ff;
    --violet-0: #2e0033;
    --violet-1: #56005f;
    --violet-2: #7e008b;
    --violet-3: #a500b6;
    --violet-4: #cd00e2;
    --violet-5: #ee4aff;
    --violet-6: #f37bff;
    --violet-7: #f7abff;
    --violet-8: #fbd8ff;
    --fuchsia-0: #330020;
    --fuchsia-1: #5f003b;
    --fuchsia-2: #8c0056;
    --fuchsia-3: #b80072;
    --fuchsia-4: #e4008d;
    --fuchsia-5: #ff4bba;
    --fuchsia-6: #ff7ccd;
    --fuchsia-7: #ffabdf;
    --fuchsia-8: #ffd8f0;
}
