.link, .link:visited {
    text-decoration: underline;
    color: var(--colour-title, black);
}

.link:hover, .link:active {
    color: white;
    background: var(--colour-title, black);
    box-shadow: 0 0 0 3px var(--colour-title, black);
    border-radius: 3px;
    text-decoration: none;
}

.link:active {
    color: var(--colour-base);
}

.danger {
    --colour-title: #900;
    --colour-base: #fcc;
}
