.main {
    display: block;
    background: linear-gradient(
        0.35turn,
        var(--colour-base) -100%,
        white
    );
    padding: 0.5rem;
    min-height: 6rem;
    text-decoration: none;
    color: inherit;
    border-radius: 0.3rem;
    position: relative;
    transition: background-image 300ms;
}

.main:hover {
    background: linear-gradient(
        0.35turn,
        var(--colour-base) -30%,
        white 130%
    );
}

.main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: -1rem 1rem 20rem var(--parent-colour-title);
    z-index: -1;
    transition: box-shadow 300ms;
}

.main:hover::after {
    box-shadow: -1rem 1rem 12rem var(--parent-colour-title);
}

.title {
    margin: 0;
    color: var(--colour-title);
    font-size: 2rem;
}
