.description {
    composes: card from './card.module.css';
}

@supports not (grid-template-rows: masonry) {
    .description {
        grid-row: span var(--description-height);
    }
}

@media (min-width: 32rem) {
    .description {
        grid-column: span 2;
    }
}

@media (min-width: 64rem) {
    .description {
        grid-column: 3 / -1;
    }
}

.actions {
    composes: part from './task-list.module.css';
    composes: padded from './task-list.module.css';
    display: flex;
    gap: 1.5rem;
}

.actions > *:not(:first-child)::before {
    content: '';
    border-left: 1px solid var(--colour-base);
    margin-left: -0.75rem;
    margin-right: 0.75rem;
}

.grid {
    --parent-colour-title: var(--colour-title);
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-template-rows: masonry;
    align-items: flex-start;
}

@supports not (grid-template-rows: masonry) {
    .grid {
        grid-auto-flow: row dense;
    }

    .grid > * {
        grid-row: span 2;
    }
}
