.description {
    composes: card from './card.module.css';
}

@supports not (grid-template-rows: masonry) {
    .description {
        grid-row: span var(--description-height);
    }
}

@media (min-width: 30rem) {
    .description {
        grid-column: span 2;
    }
}

@media (min-width: 48rem) {
    .description {
        grid-column: 3 / -1;
    }
}
