.tree {
   margin-top: 0.5rem;
   list-style: none;
   padding: 0;
}

.item .tree {
   margin-left: 2rem;
}

.item {
   margin-bottom: 0.5rem;
}

.root {
   composes: grid from './project.module.css';
}
