.description {
    composes: card from './card.module.css';
}

@supports not (grid-template-rows: masonry) {
    .description {
        grid-row: span var(--description-height);
    }
}

@media (min-width: 32rem) {
    .description {
        grid-column: span 2;
    }
}

@media (min-width: 64rem) {
    .description {
        grid-column: 3 / -1;
    }
}

.grid {
    --parent-colour-title: var(--colour-title);
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-template-rows: masonry;
    align-items: flex-start;
}

@supports not (grid-template-rows: masonry) {
    .grid {
        grid-auto-flow: row dense;
    }

    .grid > * {
        grid-row: span 2;
    }
}

@supports not (grid-template-rows: masonry) {
    .left {
        grid-row: span var(--task-list-height, 1);
    }
}

@media (min-width: 30rem) {
    .left {
        grid-column: 1 / span 2;
    }
}
