.main {
    composes: card from 'card.module.css';

    display: block;
    background: linear-gradient(
        0.35turn,
        var(--colour-base) -100%,
        white
    );
    min-height: 6rem;
    text-decoration: none;
    color: inherit;
    position: relative;
    transition: background-image 300ms;
}

.main:hover {
    background: linear-gradient(
        0.35turn,
        var(--colour-base) -30%,
        white 130%
    );
}

.title {
    margin: 0;
    color: var(--colour-title);
    font-size: 2rem;
}
