.main {
    padding: 0;
}

.part {
    composes: card from 'card.module.css';
    padding: 0;
}

@supports not (grid-template-rows: masonry) {
    .part {
        grid-row: span var(--task-list-height);
    }
}

@media (min-width: 30rem) {
    .part {
        grid-column: 1 / span 2;
    }

    details.part:not([open]) {
        grid-row: span 1;
    }
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.padded .main {
    padding: 0;
}

.padded {
    padding: 0.75rem 1rem;
}

.item {
    composes: padded;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.item:not(:last-child) {
    border-bottom: 2px solid var(--colour-base);
}

.title {
    flex-grow: 1;
}

.projectLink::before {
    content: '☰ '
}

.completed {
    text-decoration: line-through;
    font-style: italic;
}

.summary {
    composes: padded;
    font-style: italic;
    opacity: 0.7;
}

.summary::marker {
    content: '';
}

.summary::before {
    content: '▶';
    font-style: normal;
    color: var(--colour-title);
    display: inline-block;
    width: 1.6em;
    text-align: center;
    margin-right: 0.5rem;
}

details[open] .summary {
    opacity: 1;
}

details[open] .summary::before {
    content: '▼';
}

.completeButton {
    width: 2em;
    text-align: center;
}
