.main {
    background: white;
    border-radius: 0.3rem;
    position: relative;
    padding: 0.5rem 1rem;
}

.main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: -1rem 1rem 20rem var(--colour-title);
    z-index: -1;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    padding: 0.75rem 1rem;
    display: flex;
}

.item:not(:last-child) {
    border-bottom: 2px solid var(--colour-base);
}

.title {
    flex: 1;
}

.projectLink::before {
    content: '☰ '
}

.completed {
    text-decoration: line-through;
    font-style: italic;
}
