.toolbar {
    display: flex;
    gap: 1.5rem;
    --parent-colour-base: var(--colour-base);
    white-space: nowrap;
}

.toolbar > *:not(:first-child)::before {
    content: '';
    border-left: 1px solid var(--parent-colour-base);
    margin-left: -0.75rem;
    margin-right: 0.75rem;
}
