@import "@fontsource/iosevka-aile/300.css";
@import "@fontsource/iosevka-aile/300-italic.css";
@import "@fontsource/iosevka-aile/900.css";
@import "@fontsource/iosevka-aile/900-italic.css";
@import "@fontsource/iosevka-curly";

:root {
	--lighter-salmon: color-mix(in oklab, lightsalmon, white);
	--shadow-x: 0.375rem;
	--shadow-y: 0.5rem;
	--shadow: var(--shadow-x) var(--shadow-y) 0 rgb(from var(--shadow-colour, teal) r g b / 0.25);
	--wonky-radius: calc(3px + 1%) calc(3px + 99%) calc(3px + 99%) calc(3px + 1%) / calc(3px + 99%) calc(3px + 1%) calc(3px + 1%) calc(3px + 99%);
}

body {
	font-family: "Iosevka Aile", sans-serif;
	letter-spacing: -0.05em;
	margin: 0;

	background-image: radial-gradient(teal 1px, var(--lighter-salmon) 0);
	background-size: 1rem 1rem;
	color: darkslateblue
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	letter-spacing: -0.05em;
}

.card,
button {
	background: rgb(from var(--background) r g b / 0.8);
	box-shadow: var(--shadow);
	border-radius: var(--wonky-radius);

	position: relative;
}

:is(.card,
	button):after {
	content: "";
	position: absolute;
	z-index: -1;
	inset: 0 calc(-1 * var(--shadow-x)) calc(-1 * var(--shadow-y)) 0;
	backdrop-filter: blur(0.1rem);
	border-radius: inherit;
}

.card {
	--background: lavenderblush;
	padding: 1rem;
}

button {
	transition: background 0.1s ease-in-out;
	--background: darkslateblue;
	color: var(--lighter-salmon);
	font-weight: 900;
	cursor: pointer;
	border: 0 none;
	padding: 0.5rem;
}

button:hover {
	--background: slateblue;
}

button:active {
	--background: slateblue;
	--shadow-x: 0.25rem;
	--shadow-y: 0.25rem;
	margin-top: 0.25rem;
	margin-left: 0.125rem;
}


.panels {
	display: flex;
	gap: 1rem;
	padding: 1rem;
}

html,
body,
.panels {
	height: 100%;
}

.panels>* {
	flex: 1;
}

aside {
	max-width: 20rem;
}

h1>input {
	width: 100%;
	appearance: none;
	background: transparent;
	color: inherit;
	font: inherit;
	border: 0 none;
	letter-spacing: inherit;
}

h1>input:focus-visible {
	outline: 0 none;
	border-bottom: 0.125em dotted currentColor;
	margin-bottom: -0.125em;
}

.tiptap:focus-visible {
	outline: 0 none;
}

@scope (article) to (.unstyled) {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin-block: 0 0.5em;
	}
}
