* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 18px;
    margin: 0;
}

body, :root {
    height: 100%;
}

button, input[type='button'], input[type='submit'] {
    font-family: inherit;
    font-size: 0.8em;
    border: 2px solid currentColor;
    background: transparent;
    color: var(--colour-title, inherit);
    font-weight: 900;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 0.4em;

    &:hover {
        background: var(--colour-base);
    }

    &:active {
        background: var(--colour-gradient_start);
    }

    &.primary {
        background: var(--colour-title, inherit);
        border-color: var(--colour-title, inherit);
        color: white;

        &:hover {
            color: var(--colour-base);
        }

        &:active {
            color: var(--colour-gradient_start);
        }
    }
}

button, input[type='button'], input[type='submit'], a:link {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: -.5em;
        left: -.5em;
        right: -.5em;
        bottom: -.5em;
    }
}

a:link, a:visited {
    color: var(--colour-title);
}

a:hover, a:active {
    background: var(--colour-title);
    color: white;
    box-shadow: 0 0 0 3px var(--colour-title);
    border-radius: 3px;
    text-decoration: none;
}

a:active {
    color: var(--colour-base);
}

