@import '../components/colours.css';

:root {
    --bg: white;
    --fg: var(--steel-0);
}

@media(prefers-colour-scheme: dark) {
    :root {
        --bg: var(--steel-0);
        --fg: var(--steel-8);
    }
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background: var(--bg);
    color: var(--fg);
    margin: 0;
    display: flex;
    flex-direction: column;
}

body, :root {
    height: 100%;
}

body > :last-child {
    flex: 1;
}

